<div class="show-container">

  <div class="col-8">
    <div class="title-card col-12">
      <h1>Clubs List</h1>
    </div>

    <div class="my-3 col-12">
      <% @clubs.each do |club| %>
        <%= link_to club_path(club), class: "referee-name" do %>
          <div class="match-card d-flex align-items-center justify-content-start ml-3 mb-4 p-2 col-12">
            <span class="left-logo" style="background-image: url('<%= cl_image_path club.photo.key %>')"></span>
            <h4 class="d-flex justify-content-start m-0 ml-3 p-3"><%= club.name %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
