
<div class="games-container">


      <% @clubs.each do |club| %>

        <div class="games-card py-4 mb-2 mt-3">

          <h3><%= club.name %></h3>
          <p><%= club.address %> | <%= club.email %> | <%= club.phone_number %></p>
        
        </div>

      <% end %>

  </div>
</div>
