 <div class="main-container">

  <div class="games-container">
    <span class="title-matches"><h1>Competitions List</h1></span>

    <div class="games-card py-3 mb-2 mt-3">
      <div class="d-flex justify-content-between align-itmes-center position-relative mx-5">


        <% @competitions.each do |competition| %>
          <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#modalMatch">
          <h6 style="margin-bottom: 0; color: white;" class="referee-name"><%= competition.name %></h6>
          </button>
          <%= render "shared/form_modal_match", competition: competition  %>
          <p style="margin-bottom: 0;"><%= competition.created_at.strftime('%d-%m-%Y')%></p>

        <% end %>
      </div>
    </div>
  </div>
</div>
