<nav>
  <ul class="nav-list">
    <a href="#" class="logo">
      <li class="nav-item">
        <i class="fa-solid fa-futbol nav-item-icon"></i>
        <span class="nav-item-text">sports admin</span>
      </li>
    </a>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-house nav-item-icon"></i>
        <span class="nav-item-text">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-calendar nav-item-icon"></i>
        <span class="nav-item-text">Calendar</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-user nav-item-icon"></i>
        <span class="nav-item-text">Referee</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-trophy nav-item-icon"></i>
        <span class="nav-item-text">Competitions</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-people-group nav-item-icon"></i>
        <span class="nav-item-text">Teams</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-clipboard-list nav-item-icon"></i>
        <span class="nav-item-text">Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa-solid fa-plus nav-item-icon"></i>
        <span class="nav-item-text">extra-one</span>
      </a>
    </li>
    <li class="nav-item logout">
      <a href="#">
        <i class="fa-solid fa-right-from-bracket nav-item-icon"></i>
        <span class="nav-item-text">Log Out</span>
      </a>
    </li>
  </ul>
</nav>
