<div class="container">

  <%= simple_form_for [@club, @player] do |f| %>
    <%= f.input :player_number %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'Back', club_path(@club), class: "btn btn-secondary mt-3" %>

</div>
