<div class="main-container">

  <div class="games-container">
  <span class="title-matches"><h1>Referees List</h1></span>

  <% @referees.each do |referee| %>
      <div class="games-card py-3 mb-2 mt-3 col-9">
        <div class="d-flex justify-content-between align-items-center mx-5">
          <h6 class="text-decoration-none mb-0"><%= referee.full_name %></h6>
          <div>
            <%= link_to "+ info", referee_path(referee), class: "btn btn-success rounded-4" %>
            <%#= link_to "Edit", edit_referee_path(referee), class: "text-decoration-none btn btn-primary btn-sm rounded-4 mr-2" %>
            <%#= link_to "Delete", referee_path(referee), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none btn btn-outline-danger btn-sm rounded-4 mr-2" %>
          </div>
        </div>
      </div>
  <% end %>
  </div>


  <p class="mt-4 col-9"><%= link_to "Add Referee", new_referee_path, class: "btn btn-success rounded-4 col-12" %></p>

</div>
