<div class="main-container">

  <div class="games-container">
    <span class="title-matches col-9"><h1>Referees List</h1></span>
    <% @referees.each do |referee| %>
      <%= link_to referee_path(referee), class: "referee-name" do %>
        <div class="games-card py-3 mb-2 mt-3">
          <div class="d-flex justify-content-between align-items-center mx-5">
            <h6 class="text-decoration-none mb-0"><%= referee.full_name %></h6>
            <span class= "btn btn-success rounded-4">+ info</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <p class="mt-4 col-9"><%= link_to "Add Referee", new_referee_path, class: "btn btn-success rounded-4 col-12" %></p>

</div>
