<h1>New Referee</h1>

<%#= simple_form_for @referees do |f| %>
    <%#= f.input :first_name %>
    <%#= f.input :last_name %>
    <%#= f.input :birth_date %>
    <%#= f.input :email %>
    <%#= form.label :phone_number %>
    <%#= form.submit "Create Referee" %>
  <%# end %>
  
<%#= link_to "Back", referees_path %>
