.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.games {
  margin: 30px 0;
}

.heading {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.card-game {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

.game-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.competition, .referee {
  font-weight: bold;
}

.game p {
  margin: 30px 0;
  color: white;
}
