.club-pic-position{
  position: absolute;
  left: -40px;
  width: 126px;
  height: 126px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
  top: -32px;
}
