.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 20px 0 0 90px;
  padding: 0;
}

.title-matches{
  color: white;
  font-weight: bold;
  text-align: start;
  width: 1000px;
  // border-radius: 7px;
  border-bottom: 1px solid #ffffff;
  margin: 20px 0 40px 0;
}

.games-container{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: 0;
}


.games-card{
  color:white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  // width: 1000px;
  text-align: center;
  background-color:#00032c84;
  border-radius: 25px;
}

a.text-decoration-none > h3{
  color: white;
}


.game-date {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
