nav {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 90px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  background-color: #0007458c;
}

nav i{
  color: white;
}

nav:hover{
  width: 280px;
  transition: all 0.5s ease-in-out;
}

nav span{
  color: white;
}

.nav-list {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

.logo{
  display: flex;
  margin-bottom: 17px;
  transition: all 0.5 ease;
  text-decoration: none;
  white-space: pre;
}

.logo i {
  font-size: 50px;
  line-height: 22px;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 0;
  margin-top: 10px;
}
.logo .nav-item {
  display: flex;
}

.nav-item {
  position: relative;
  color: gray;
  display: flex;
  width: 300px;
  padding: 10px;

  &:hover {
    .nav-item-text, .nav-item-icon {
      color: $green;
    }
  }
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item-text {
  position: relative;
  top: 12px;
  margin-left: 10px;
  color: white
}

.nav-item-icon {
  position: relative;
  width: 70px;
  height: 40px;
  top: 15px;
  font-size: 20px;
  text-align: center;
}

.logout{
  position: absolute;
  bottom: 0;
}

// ///////////////////////////////////////////////////////////////////
