.teams{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 70px;
  width: calc(100vw - 160px);
  margin-left: 110px;
}

.hometeam{
  border-right: 1px solid gray;
}

.awayteam{
  border-right: 1px solid gray;
}

.card-report-show{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar{
  width: 700px;
  flex-direction: row;
}

.button-search{
  height: fit-content;
}

.dropdown-report{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
