// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{

  // background-color: #00032c;  ORIGINAL BACKGROUND

  background: linear-gradient(-45deg, #040d28,#1316CA,#081484, #0008ff, #00032e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  background-color: #242fc9;
  //color: white;
}
