<div class="teams">
  <div class="team-names">
    <%= @game.club_home.name %>
    vs
    <%= @game.club_away.name %>
  </div>
  <div class="report-container" data-controller="submit-form-reports">
    <%= render "shared/final_report", game: @game, report: @report, report_instance: @report_instance %>
  </div>
</div>
